$color-white: #eee;

$color-primary: #1596aa;
$color-primary-dark: #235f68;
$color-primary-dark-2: #1e393d;
$color-primary-light: #39d3eb;
$color-primary-light-2: #0e6977;

$color-light-grey: #e9e7e7;
$color-light-grey-1: #e0dcdc;

$color-black: #000000;
$color-light-black: #1a1a1a;

$color-secondary: #ac1f78;
$color-secondary-light: #f175c4;
$color-secondary-dark: #3f0a2c;

$color-invalid: #ee0b0b;

$color-error: #ab2121;
$color-error-1: #721b1b;
$color-success: #1e7b1e;
$color-success-1: #155815;
