.nav {
  background-color: rgba($color-black, 0.4);
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9980;
  transition: all 0.3s;

  ul {
    margin-bottom: 0.5rem;
  }

  &__list {
    display: flex;
    justify-content: center;
    height: 100%;
    list-style: none;

    &__item {
      color: $color-light-grey;
      font-size: 2rem;
      cursor: pointer;
      padding: 2rem 0;

      &--active {
        border-bottom: 2px solid $color-light-grey;
      }

      & a:link,
      & a:visited {
        color: currentColor;
        text-decoration: none;
      }

      @include respond(mid-phone) {
        font-size: 1.8rem;
      }

      @include respond(small-phone) {
        font-size: 1.5rem;
      }
    }

    :not(:last-child) {
      margin-right: 15rem;

      @include respond(tab-land) {
        margin-right: 12rem;
      }

      @include respond(phone-tab) {
        margin-right: 8rem;
      }

      @include respond(phone) {
        margin-right: 5rem;
      }

      @include respond(mid-phone) {
        margin-right: 3.75rem;
      }

      @include respond(small-phone) {
        margin-right: 2.3rem;
      }
    }
  }
}

.nav-adapted {
  background-color: rgba($color-black, 0.85);
  height: 6rem;
  top: -1.3rem;
  border-bottom: 0.1rem solid $color-primary;
}

.section-com {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
  background-repeat: no-repeat;
}

.home {
  height: 103vh;
  background-image: linear-gradient(to bottom, rgba($color-black, 0.5), rgba($color-black, 0.9)), url('../img/back-home-small.jpg');
  display: flex;
  flex-flow: column;
  margin-top: -9rem;

  @media only screen and (min-resolution: 192dpi), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 50em), only screen and (min-width: 50em) {
    background-image: linear-gradient(to bottom, rgba($color-black, 0.5), rgba($color-black, 0.9)), url('../img/back-home.jpg');
  }
}

.about {
  padding: 6rem 5rem;
  background-image: linear-gradient(rgba($color-black, 0.2), rgba($color-black, 0.2)), url('../img/back-about-small.jpg');
  color: $color-light-grey;

  @media only screen and (min-resolution: 192dpi), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 50em), only screen and (min-width: 50em) {
    background-image: linear-gradient(rgba($color-black, 0.2), rgba($color-black, 0.2)), url('../img/back-about.jpg');
  }

  @include respond(phone-tab) {
    padding: 3rem 2rem;
  }

  @include respond(phone) {
    padding: 2rem 1rem;
  }
}

.experience {
  padding: 5rem 5rem;
  background-image: linear-gradient(to bottom, rgba($color-black, 0.6), rgba($color-black, 0.9)), url('../img/back-experience-small.jpg');

  hr {
    margin: 1rem auto 2rem;
  }

  @media only screen and (min-resolution: 192dpi), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 50em), only screen and (min-width: 50em) {
    background-image: linear-gradient(to bottom, rgba($color-black, 0.6), rgba($color-black, 0.9)), url('../img/back-experience.jpg');
  }

  @include respond(phone) {
    padding: 2rem 2rem;
  }
}

.portfolio {
  padding: 5rem 5rem;
  background-image: linear-gradient(to bottom, rgba($color-black, 0.2), rgba($color-black, 0.2)), url('../img/back-portfolio-small.jpg');

  @media only screen and (min-resolution: 192dpi), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 50em), only screen and (min-width: 50em) {
    background-image: linear-gradient(to bottom, rgba($color-black, 0.2), rgba($color-black, 0.2)), url('../img/back-portfolio.jpg');
  }

  @include respond(tab-port) {
    padding: 3rem 3rem;
  }

  @include respond(phone) {
    padding: 2rem 2rem;
  }
}

.contact {
  min-height: 35vh;
  padding: 5rem 0;
  background-image: linear-gradient(to bottom, rgba($color-black, 0.6), rgba($color-black, 0.4)), url('../img/back-contact-small.jpg');

  @media only screen and (min-resolution: 192dpi), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 50em), only screen and (min-width: 50em) {
    background-image: linear-gradient(to bottom, rgba($color-black, 0.6), rgba($color-black, 0.4)), url('../img/back-contact.jpg');
  }

  @include respond(phone) {
    padding: 2rem 0;
  }

  @include respond(huge-desktop) {
    padding: 5rem 10rem;
  }
}

.footer {
  background-color: $color-light-black;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  padding: 0 5rem 3rem;
}
