.img-wrapper-active {
  opacity: 1 !important;
  z-index: 9999999 !important;
  background-color: rgba($color-black, 0.8);

  @supports (backdrop-filter: blur(10px)) {
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.4);
  }
}

.active-dot {
  background-color: #717171 !important;
}

.char {
  animation: drop-main-title 1s ease-out 1 both;
  display: inline-block;
}

.char-role {
  animation: drop-main-role 1s ease-out 1 both;
  display: inline-block;
}

.backdrop {
  @supports (backdrop-filter: blur(10px)) {
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.4);
  }
  z-index: 9999;
}

.success {
  background: linear-gradient(to right bottom, rgba($color-success, 0.8), rgba($color-success-1, 0.8));
}

.error {
  background: linear-gradient(to right bottom, rgba($color-error, 0.8), rgba($color-error-1, 0.8));
}

.success-msg {
  background: linear-gradient(to right bottom, rgba(#145214, 0.8), rgba(#051505, 0.8));
}

.error-msg {
  background: linear-gradient(to right bottom, rgba(#561010, 0.8), rgba(#160404, 0.8));
}

.show {
  opacity: 1 !important;
}

.show-exp {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.show-summary {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.show-contact-form {
  opacity: 1 !important;
  transform: scale(1) !important;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

.triple-hr {
  width: 100%;
  border-top: 0.1rem solid $color-primary-dark;
  border-bottom: 0.1rem solid $color-primary-dark;
}

.triple-hr:before {
  content: '';
  text-align: center;
  width: 66.66666666%;
  display: block;
  margin: 0.1rem auto;
  border-top: 0.1rem solid $color-primary-dark;
  border-bottom: 0.1rem solid $color-primary-dark;
}

.triple-hr:after {
  content: '';
  text-align: center;
  width: 33.333333333%;
  display: block;
  margin: 0.1rem auto;
  border-top: 0.1rem solid $color-primary-dark;
  border-bottom: 0.1rem solid $color-primary-dark;
}

.white-header-line {
  .header-tertiary {
    color: $color-light-grey;
  }

  .header-hr {
    background-color: rgba($color-light-grey, 0.6);
  }
}

.header-tertiary {
  text-align: center;
  padding-top: 5rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-size: 4rem;
  color: $color-light-black;

  @include respond(phone-tab) {
    padding-top: 2rem;
  }
}

.display-element {
  display: block;
}

.hide-element {
  display: none;
}

.sibling-fade {
  visibility: hidden;
}

.sibling-fade > * {
  visibility: visible;
}

.sibling-fade > * {
  // transition: opacity 75ms linear 50ms, transform 75ms ease-in-out 50ms;
  transition: opacity 300ms linear 200ms, transform 250ms ease-in-out 200ms;
}

@media (hover: hover) {
  .sibling-fade:hover > * {
    opacity: 0.4;
    transform: scale(0.9);

    @include respond(phone-tab) {
      transform: scale(0.95) !important;
    }

    @include respond(phone) {
      transform: scale(1) !important;
    }
  }
}

@media (hover: hover) {
  .sibling-fade > *:hover {
    opacity: 1;
    transform: scale(1.1);
    transition-delay: 0ms, 0ms;

    @include respond(phone-tab) {
      transform: scale(1.05) !important;
    }

    @include respond(phone) {
      transform: scale(1) !important;
    }
  }
}

.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@media (hover: hover) {
  .hvr-buzz-out:hover,
  .hvr-buzz-out:focus,
  .hvr-buzz-out:active {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
}

.hvr-pulse,
.hvr-pulse-alt {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@media (hover: hover) {
  .hvr-pulse:hover,
  .hvr-pulse:focus,
  .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}

@media (hover: hover) {
  .hvr-pulse-alt:hover,
  .hvr-pulse-alt:focus,
  .hvr-pulse-alt:active {
    -webkit-animation-name: hvr-pulse-alt;
    animation-name: hvr-pulse-alt;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}

.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}

@media (hover: hover) {
  .hvr-wobble-horizontal:hover,
  .hvr-wobble-horizontal:active {
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    transform: translateY(-0.2rem);
    @include boxShadow(0, 2, 6, 0.8);
  }
}
.hvr-wobble-skew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
@media (hover: hover) {
  .hvr-wobble-skew:hover,
  .hvr-wobble-skew:focus,
  .hvr-wobble-skew:active {
    -webkit-animation-name: hvr-wobble-skew;
    animation-name: hvr-wobble-skew;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
}

.hvr-box-shadow-outset {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
@media (hover: hover) {
  .hvr-box-shadow-outset:hover,
  .hvr-box-shadow-outset:focus,
  .hvr-box-shadow-outset:active {
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.6);
  }
}

.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
@media (hover: hover) {
  .hvr-back-pulse:hover,
  .hvr-back-pulse:focus {
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: $color-primary-light;
    background-color: $color-primary-light;
    color: $color-light-grey;
  }
}
